.top20{
    margin-top:20px;
}
.top30{
    margin-top:30px;
}
.top40{
    margin-top:40px;
}
.top50{
    margin-top:50px;
}
.top60{
    margin-top:60px;
}
.paddingtop50{
    padding-top:50px;
}
.paddingbottom50{
    padding-bottom:50px;
}
.paddingleft50{
    padding-left: 50px;
}